<nav class="fixed flex justify-around items-center top-0 bg-slate-200 w-full p-4 drop-shadow-lg">
    <div>
        <a routerLink="/"><p class="text-3xl">Sample</p></a>
    </div>

    <div class="flex gap-4">
        <a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page"
            class="hover:text-violet-700 hover:underline">Home</a>
        <a routerLink="/users" routerLinkActive="active" ariaCurrentWhenActive="page"
            class="hover:text-violet-700 hover:underline">Users</a>
    </div>
</nav>