<form #addUserForm="ngForm" (ngSubmit)="onSubmit(addUserForm)">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        <div>
            <label for="name" class="block text-sm font-medium text-gray-700">Name</label>
            <input id="name" type="text" [(ngModel)]="user.name" name="name"
                class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm focus:ring-violet-500 focus:border-violet-500 sm:text-sm" />
        </div>
        <div>
            <label for="username" class="block text-sm font-medium text-gray-700">Username</label>
            <input id="username" type="text" [(ngModel)]="user.username" name="username"
                class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm focus:ring-violet-500 focus:border-violet-500 sm:text-sm" />
        </div>
        <div>
            <label for="email" class="block text-sm font-medium text-gray-700">Email</label>
            <input id="email" type="email" [(ngModel)]="user.email" name="email"
                class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm focus:ring-violet-500 focus:border-violet-500 sm:text-sm" />
        </div>

        <div class="border-b-2 md:col-span-2 my-5"></div>

        <div class="md:col-span-2">
            <h3 class="text-lg font-semibold mb-2">Address</h3>
            <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
                <div>
                    <label for="street" class="block text-sm font-medium text-gray-700">Street</label>
                    <input id="street" type="text" [(ngModel)]="user.address.street" name="street"
                        class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm focus:ring-violet-500 focus:border-violet-500 sm:text-sm" />
                </div>
                <div>
                    <label for="suite" class="block text-sm font-medium text-gray-700">Suite</label>
                    <input id="suite" type="text" [(ngModel)]="user.address.suite" name="suite"
                        class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm focus:ring-violet-500 focus:border-violet-500 sm:text-sm" />
                </div>
                <div>
                    <label for="city" class="block text-sm font-medium text-gray-700">City</label>
                    <input id="city" type="text" [(ngModel)]="user.address.city" name="city"
                        class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm focus:ring-violet-500 focus:border-violet-500 sm:text-sm" />
                </div>
                <div>
                    <label for="zipcode" class="block text-sm font-medium text-gray-700">Zipcode</label>
                    <input id="zipcode" type="text" [(ngModel)]="user.address.zipcode" name="zipcode"
                        class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm focus:ring-violet-500 focus:border-violet-500 sm:text-sm" />
                </div>
                <div>
                    <label for="lat" class="block text-sm font-medium text-gray-700">Latitude</label>
                    <input id="lat" type="text" [(ngModel)]="user.address.geo!.lat" name="lat"
                        class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm focus:ring-violet-500 focus:border-violet-500 sm:text-sm" />
                </div>
                <div>
                    <label for="lng" class="block text-sm font-medium text-gray-700">Longitude</label>
                    <input id="lng" type="text" [(ngModel)]="user.address.geo!.lng" name="lng"
                        class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm focus:ring-violet-500 focus:border-violet-500 sm:text-sm" />
                </div>
            </div>
        </div>
        <div class="md:col-span-2">
            <label for="phone" class="block text-sm font-medium text-gray-700">Phone</label>
            <input id="phone" type="text" [(ngModel)]="user.phone" name="phone"
                class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm focus:ring-violet-500 focus:border-violet-500 sm:text-sm" />
        </div>
        <div class="md:col-span-2">
            <label for="website" class="block text-sm font-medium text-gray-700">Website</label>
            <input id="website" type="text" [(ngModel)]="user.website" name="website"
                class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm focus:ring-violet-500 focus:border-violet-500 sm:text-sm" />
        </div>

        <div class="border-b-2 md:col-span-2 my-5"></div>

        <div class="md:col-span-2">
            <h3 class="text-lg font-semibold mb-2">Company</h3>
            <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
                <div>
                    <label for="company-name" class="block text-sm font-medium text-gray-700">Company Name</label>
                    <input id="company-name" type="text" [(ngModel)]="user.company.name" name="company-name"
                        class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm focus:ring-violet-500 focus:border-violet-500 sm:text-sm" />
                </div>
                <div>
                    <label for="catchPhrase" class="block text-sm font-medium text-gray-700">Catch Phrase</label>
                    <input id="catchPhrase" type="text" [(ngModel)]="user.company.catchPhrase" name="catchPhrase"
                        class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm focus:ring-violet-500 focus:border-violet-500 sm:text-sm" />
                </div>
                <div>
                    <label for="bs" class="block text-sm font-medium text-gray-700">BS</label>
                    <input id="bs" type="text" [(ngModel)]="user.company.bs" name="bs"
                        class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm focus:ring-violet-500 focus:border-violet-500 sm:text-sm" />
                </div>
            </div>
        </div>
    </div>
    <div class="mt-6 flex justify-end gap-4">
        <button type="button" (click)="onClose()"
            class="px-4 py-2 bg-gray-300 rounded-md shadow-sm hover:bg-gray-400">Close</button>
        <button type="submit"
            class="px-4 py-2 bg-violet-500 text-white rounded-md shadow-sm hover:bg-violet-600">
            @if (isSubmitting) {
                <div class="w-5 h-5 border-2 border-t-2 border-white border-opacity-50 rounded-full animate-spin"></div>
            } @else {
                Save
            }
        </button>
    </div>
</form>